div {
    border-top: 1px solid
}

div.controller {
    background-color: darkgray;
    min-height: 50px;
    padding: 5px
}

div.section {
    margin: 5px
}

div.flex {
    display: flex;
    justify-content: space-between;
}

body {
    width: 1600px
}

.invisible {
    display: none;
}

.attention {
    color: red
}