div {
    border-top: 1px solid
}

div.controller {
    background-color: darkgray;
    min-height: 50px;
    padding: 5px
}

div.section {
    margin: 5px
}

div.flex {
    display: flex;
    justify-content: space-between;
    place-content: space-evenly;
}

.invisible {
    display: none;
}

.attention {
    color: red
}

div.section {
    min-width: 400px
}

/* --------------------------- */
.fullWidth {
    width: 1400px
}

.width3quarters {
    width: 900px
}